*{
    margin:0;
    padding:0;
    font-family: Tahoma;
}

body{
    background-color:#333;
}

.insideCenter{
    text-align:center;
}
.selfCenter{
    margin: 0 auto;
}
#botoesControle{padding:10px;  
                background-color: #fafafa;

}
#divDir{    
	width:800px;
	
	background-color: #fff;
	
	margin-top: 20px;
	padding: 15px 0;

}
#divDir div{
	display:inline-block;
}
#divDir button{
	padding:5px;
}
.ranking{
	margin:0 50px;
}
#jogoCanvas{
    display: none;
	padding:2px 0;
}
.devPor{
    background-color:#fafafa;
    padding:13px;
	margin:2px 0;
	font-size:14px;
	line-height:20px;
}
.devPor a{
text-decoration:none;
color:#333;
}
#bordasTelaDoJogo{
    display:inline-block;

    padding:14px;
    margin: 10px 10px;

    background-color:#000;

    border:1px solid #222;
    border-radius: 5px;	
    box-shadow: 10px 10px 5px #555;

}

#imgInicio{
    text-align: center;
    margin: 30px;
    display: none;

}
#imgInicio img{
	cursor:pointer;
}

#telaDoJogo{
    background-color:#222;
    padding:0px;

}

#canvasDoJogo{
    background-color:rgb(0 , 100,184);
    border : 1px solid #000;
    margin:5px;
}

#instrucoes{
    width: 100%;

    padding: 10px;

    background-color:#000;

}
#instrucoes section{
    margin:10px auto;
    padding:10px;

    width: 70%;

    border-radius: 5px;

    background-color: #fff;
}
#instrucoes section h2{
    margin:0 0 10px 10px;

    color: #a00;

    font-size:12pt;

    text-align: left;
}
#instrucoes section p{
    font-size:10pt;

    text-align: justify;

    margin-bottom:20px;
}
#instrucoes section p b{
    color:#00a;
}

#carregando{
    width: 0;
    height: 20px;
    background-color: #00ff00;
}